#Usada pela Aplicação
DATABASE_URL="postgresql+asyncpg://petshop:sua_senha@localhost:5433/db_petshop"
DATABASE_URL_DOCKER="postgresql+asyncpg://petshop:sua_senha@db:5432/db_petshop"

#Usada pelo Docker
POSTGRES_USER=petshop
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=db_petshop
POSTGRES_PORT=5433

#Mercado Pago
MERCADOPAGO_ACCESS_TOKEN="your_mercadopago_access_token"

MERCADOPAGO_WEBHOOK_SECRET="your_webhook_secret"

#RabbitMQ
RABBITMQ_URL="amqp://user:password@localhost:5672/"